:root {
  --main-text-color: white;
  --primary-template-color: #ff6b00;
  --secondary-template-color: #1c1a19;
  --font-family-Crete-Round: "Crete Round", serif;
  --section-main-padding: 50px;
}

* {
  box-sizing: border-box;
}

.popup-container p::-webkit-scrollbar {
  display: none !important;
}

html {
  scroll-behavior: smooth;
}

.hidden {
  display: none !important;
}

.overflow-hidden {
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 12px;
}

/* // mobile devices  */
@media (max-width: 768px) {
  .container {
    width: calc(100% - 13%);
  }
}

/* // desktop devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    width: calc(100% - 21.3194444444%);
  }
}

/* stylelint-disable  no-descending-specificity */
.header {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #3c3a39;
}

.header .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .name {
  color: var(--main-text-color);
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  transition: 0.3s;
}

.header .name:hover {
  transform: scale(1.3);
  color: var(--primary-template-color);
}

.header .header-container .links ul {
  display: none;
  list-style: none;
  padding: 0;
}

.header .header-container .links ul li {
  margin-left: 16px;
  margin-right: 16px;
}

.header .header-container .links ul li a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: white;
  font-size: 15px;
}

.header .header-container .links ul li:hover {
  transform: translate(4px, 2px);
  transition: 0.3s;
}

.header .header-container .links ul li:hover a {
  transition: 0.3s;
  color: var(--primary-template-color);
  font-weight: bold;
}

.header .links .icon {
  width: 26px;
  display: flex;
  flex-wrap: wrap;
}

.header .links .icon span {
  margin-bottom: 2px;
  width: calc(100% - 10px);
  height: 2px;
  background-color: var(--main-text-color);
  border-radius: 5px;
}

@media (min-width: 768px) {
  .header .header-container .links ul {
    display: flex;
    align-items: center;
  }

  .header .links .icon {
    display: none;
  }

  .header {
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: #3c3a39;
  }
}

.menu {
  z-index: 99;
  width: 100%;
  position: fixed;
  height: 100vh;
  background-color: white;
  background-image: url(../imgs/footer-bar.svg);
  background-position: bottom 10px center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.close-btn-wrapper {
  height: 50px;
  display: flex;
  flex-direction: row-reverse;
  background-color: rgba(60, 58, 57, 1);
}

.close-btn-wrapper .close-btn {
  border: none;
  background-color: inherit;
}

.close-btn-wrapper .close-btn:hover {
  cursor: pointer;
}

.menu .links-con {
  background-color: rgba(60, 58, 57, 1);
  height: 85vh;
  padding: 15px;
}

.menu .links-con ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu .links-con ul li {
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px rgba(111, 108, 107, 1) solid;
}

.menu .links-con ul li a {
  text-decoration: none;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 32px;
}

@media (min-width: 768px) {
  .menu {
    display: none;
  }
}

.headline {
  background-color: var(--secondary-template-color);
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.image-desktop {
  display: none;
}

.headline .image {
  position: absolute;
  top: 45%;
  right: 0;
}

.headline .headline-container .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
}

.headline .headline-container .text h1 {
  margin: 0;
  font-size: 56px;
  font-family: var(--font-family-Crete-Round);
  font-weight: 400;
  color: var(--primary-template-color);
  margin-bottom: 15px;
  animation-name: color-change;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.headline .headline-container .text h1:hover {
  animation: none;
}

@keyframes color-change {
  100% {
    color: white;
  }
}

.headline .headline-container .text h3 {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
  margin: 0;
}

.headline .headline-container .text p {
  color: white;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  line-height: 24px;
}

.headline .headline-container .social-icon {
  display: flex;
  justify-content: space-between;
  width: 55%;
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

.headline .headline-container .social-icon li a img {
  animation-name: rotate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes rotate {
  75% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
    transition-duration: 1s;
  }
}

@media (min-width: 768px) {
  .headline .image-desktop {
    display: block;
    position: absolute;
    top: -8%;
    right: 0;
  }

  .headline .image {
    display: none;
  }

  .headline .headline-container .text {
    width: 50%;
  }

  .headline .headline-container .social-icon {
    position: absolute;
    top: 28%;
    left: 2%;
    flex-direction: column;
    margin-top: -4px;
    height: 25%;
  }
}

.popup {
  display: flex;
  background-color: transparent;
  backdrop-filter: blur(5px);
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.popup .popup-container {
  background-color: white;
  width: 85%;
  height: 90%;
  transform: translateY(6%);
}

.popup .popup-header {
  display: flex;
  justify-content: space-between;
}

.popup .popup-header h2 {
  margin-bottom: 5px;
  font-size: 32px;
  font-family: var(--font-family-Crete-Round);
  font-weight: 400;
}

.popup .popup-header .close-button {
  display: block;
  background: none;
  border: none;
  margin-bottom: 10px;
}

.popup ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
}

.popup ul li {
  width: fit-content;
  display: inline-block;
  margin-right: 10px;
  border: solid 1px #8993a4;
  padding: 10px 6px;
  text-align: center;
}

.popup ul li a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #091e42;
  font-size: 15px;
}

.popup .popup-body {
  display: flex;
  margin-top: 5%;
  height: 70%;
}

@media (max-width: 959px) {
  .popup .popup-body {
    margin-top: 0;
  }
}

@media (min-width: 1200px) {
  .popup .popup-body {
    margin-top: 4%;
  }
}

.popup .popup-body > img {
  margin-right: 15px;
  width: 60%;
  height: 100%;
}

.popup .popup-body .text-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.popup .popup-body .text-footer img {
  height: 15px;
}

.popup .popup-body .text-footer p {
  line-height: 30px;
  margin-top: 0;
  height: 80%;
  overflow: auto;
  font-family: "Inter", sans-serif;
  color: hsl(217.9, 76%, 10.7%);
}

.popup .popup-body .text-footer button {
  padding: 12px;
  background-color: var(--primary-template-color);
  border: solid 1px white;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.5px;
  margin-bottom: 50px;
}

@media (max-width: 929px) {
  .popup .popup-header h2 {
    margin-top: 10px;
    font-size: 30px;
  }
}

@media (max-width: 767px) {
  .popup {
    flex-direction: column;
    overflow: auto;
    width: 100vw;
    padding: 40px 0;
  }

  .popup .popup-container {
    background-color: white;
    height: auto;
    width: 340px;
  }

  .popup .popup-header {
    margin-bottom: 22px;
  }

  .popup .popup-header h2 {
    margin-top: 10px;
    font-size: 30px;
  }

  .popup .popup-body > img {
    width: 100%;
    height: 50%;
  }

  .popup .popup-body .text-footer button {
    margin-bottom: 50px;
  }

  .popup .popup-header .close-button {
    margin-top: 10px;
  }

  .popup .popup-body {
    display: block;
  }

  .popup .popup-body .text-footer {
    display: block;
  }

  .popup .popup-header .title-one {
    display: none;
  }
}

@media (min-width: 768px) {
  .popup .popup-header .title-two {
    display: none;
  }
}

.recent-work {
  padding-top: var(--section-main-padding);
  padding-bottom: var(--section-main-padding);
}

.recent-work .container .section-header {
  margin: 0 auto 80px;
  text-align: center;
}

.recent-work .container .section-header h1 {
  font-size: 40px;
  font-family: var(--font-family-Crete-Round);
  font-weight: 400;
  margin-bottom: 50px;
}

.recent-work .container .section-header .hr {
  border-color: #212121;
  border-width: 1px 0 0 0;
}

.recent-work .container .projects {
  display: flex;
  flex-direction: column;
}

.recent-work .container .projects .main-project .multi-post {
  width: 100%;
}

.recent-work .container .projects .main-project h3 {
  font-size: 32px;
  font-family: var(--font-family-Crete-Round);
  font-weight: 400;
  margin: 15px 0;
  color: #091e42;
}

.recent-work .container .projects .main-project .paragraph {
  font-family: "Inter", sans-serif;
  line-height: 24px;
  color: hsl(217.9, 76%, 10.7%);
}

.recent-work .container .projects .main-project .lags-used {
  list-style: none;
  padding: 0;
}

.recent-work .container .projects .main-project .lags-used .lag-used {
  width: fit-content;
  display: inline-block;
  margin-right: 10px;
  border: solid 1px #8993a4;
  padding: 10px 12px;
  text-align: center;
  transition: 0.3s;
}

.recent-work .container .projects .main-project .lags-used .lag-used:hover {
  background-color: var(--primary-template-color);
}

.recent-work .container .projects .main-project .lags-used .lag-used a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #091e42;
  font-size: 15px;
}

.recent-work .container .projects .main-project .see-project {
  padding: 12px;
  background-color: var(--primary-template-color);
  border: solid 1px white;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 17px;
  letter-spacing: 0.5px;
}

.recent-work .container .projects .main-project .see-project:hover {
  background-color: #fff5e1;
  border: solid 1px var(--primary-template-color);
  color: var(--primary-template-color);
}

.recent-work .container .projects .main-project .see-project:active {
  background-color: #e05304;
  border: solid 1px white;
  color: white;
}

@media (min-width: 768px) {
  .recent-work .container .section-header {
    display: flex;
    align-items: center;
    margin: 0 auto 50px;
  }

  .recent-work .container .section-header h1 {
    width: 40%;
  }

  .recent-work .container .section-header .hr {
    width: 60%;
    margin-bottom: 25px;
  }

  .recent-work .container .projects .main-project .multi-post {
    width: calc(60% - 12px);
  }

  .main-article {
    display: flex;
    justify-content: space-between;
  }

  .main-article .project-text {
    width: calc(40% - 12px);
  }
}

.recent-work .container .projects .secondary-projects {
  margin: 15px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 24px;
}

.recent-work .container .projects .secondary-projects .project {
  overflow: hidden;
  position: relative;
  height: 400px;
}

.recent-work .container .projects .secondary-projects .image-1 {
  background-image: url(../imgs/project-img-desktop.png);
  background-size: cover;
}

.recent-work .container .projects .secondary-projects .image-2 {
  background-image: url(../imgs/project-img-desktop-2.png);
  background-size: cover;
}

.recent-work .container .projects .secondary-projects .image-3 {
  background-image: url(../imgs/project-img-desktop-3.png);
  background-size: cover;
}

.recent-work .container .projects .secondary-projects .project .overlay {
  background-image: linear-gradient(#26262600, #262626e5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.recent-work .projects .secondary-projects .project .overlay .project-content {
  padding: 16px 16px 0;
}

.recent-work .container .projects .secondary-projects .project h2 {
  font-size: 32px;
  font-family: var(--font-family-Crete-Round);
  font-weight: 400;
  margin: 72px 0 0;
  color: white;
}

.recent-work .container .projects .secondary-projects .project p {
  font-family: "Inter", sans-serif;
  line-height: 24px;
  color: white;
  margin: 12px 0 0;
  font-weight: 300;
}

.recent-work .container .projects .secondary-projects .project ul {
  list-style: none;
  padding: 0;
}

.recent-work .container .projects .secondary-projects .project ul li {
  width: fit-content;
  display: inline-block;
  margin-right: 0;
  background-color: #ffffff3d;
  padding: 10px 12px;
  text-align: center;
}

.recent-work .container .projects .secondary-projects .project ul li .a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: white;
  font-size: 15px;
}

.recent-work .container .projects .secondary-projects .project button {
  padding: 12px 0;
  background-color: var(--primary-template-color);
  border: none;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 17px;
  letter-spacing: 0.5px;
  width: calc(100% + 20%);
  position: relative;
  top: 90%;
  left: -10%;
  transition: 0.3s;
}

@media (min-width: 768px) {
  .recent-work .container .projects .secondary-projects .project .overlay {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .recent-work .projects .secondary-projects .overlay .project-content {
    padding: 10px;
  }

  .recent-work .container .projects .secondary-projects .project button {
    top: 100%;
  }

  .recent-work .container .projects .secondary-projects .project:hover button {
    top: 89%;
  }

  .recent-work .projects .secondary-projects .project:hover .overlay {
    display: none;
  }

  .recent-work .container .projects .secondary-projects .project ul li {
    margin-right: 4px;
  }
}

@media (max-width: 619px) {
  .recent-work .container .projects .secondary-projects .project ul li {
    margin-right: 10px;
  }
}

.about {
  background-color: var(--secondary-template-color);
  padding-top: var(--section-main-padding);
  padding-bottom: var(--section-main-padding);
  position: relative;
}

.about-me-main {
  width: 50%;
}

.about .mobile-Illustr {
  position: absolute;
  bottom: 65%;
  right: 0;
}

.about .desktop-Illustr {
  display: none;
}

.about hr {
  border: solid 1px white;
  margin-top: 60%;
}

.about .container .about-me h1 {
  font-size: 72px;
  font-family: var(--font-family-Crete-Round);
  font-weight: 400;
  text-align: center;
  color: var(--primary-template-color);
}

.about .container .about-me > .paragraph2 {
  line-height: 24px;
  font-family: "Inter", sans-serif;
  color: white;
}

.about .container .about-me > .button2 {
  padding: 13px 10px;
  background-color: var(--primary-template-color);
  border: solid 1px #1c1a19;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 17px;
  letter-spacing: 0.5px;
}

.about .container .about-me > .button2:hover {
  background-color: #fff5e1;
  border: solid 1px var(--primary-template-color);
  color: var(--primary-template-color);
}

.about .container .about-me > .button2:active {
  background-color: #e05304;
  border: solid 1px #1c1a19;
  color: white;
}

.about .container .my-skills {
  padding-top: 30%;
  text-align: center;
}

.about .container .my-skills ul .lang {
  list-style: none;
  margin: 0;
  padding: 0;
  color: white;
}

.about .container .my-skills > ul > li {
  font-size: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  margin: 12px;
}

.about .container .my-skills ul li li {
  font-size: 22px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  margin: 16px;
}

.about .container .my-skills ul li li:first-child {
  font-size: 22px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  margin-top: 32px;
}

.about .container .my-skills > ul > li:first-child {
  list-style-image: url(../imgs/Rectangle-1.png);
  list-style-position: inside;
}

.about .container .my-skills > ul > li:nth-child(2) {
  list-style-image: url(../imgs/Rectangle-2.png);
  list-style-position: inside;
}

.about .container .my-skills > ul > li:last-child {
  list-style-image: url(../imgs/circule.png);
  list-style-position: inside;
}

.about .container .my-skills ul {
  list-style: none;
  margin: 0;
  padding: 0;
  color: white;
}

@media (min-width: 768px) {
  .about .desktop-Illustr {
    display: block;
    top: 5%;
    right: 0;
    position: absolute;
    width: 47%;
  }

  .about .mobile-Illustr {
    display: none;
  }

  .about hr {
    border: solid 1px white;
    margin-top: 15%;
  }

  .about .container .about-me {
    width: 55%;
  }

  .about .container .about-me h1 {
    text-align: left;
    margin-bottom: 25px;
  }

  .about .container .about-me > .button2 {
    margin-top: 25px;
  }

  .about .container .my-skills {
    padding-top: 15%;
  }

  .about .container .my-skills ul {
    list-style: none;
    margin: 0;
    padding: 0;
    color: white;
    display: flex;
    justify-content: space-between;
  }

  .about .container .my-skills ul .lang {
    list-style: none;
    margin: 0;
    padding: 0;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: left;
  }
}

.contact {
  margin-top: var(--section-main-padding);
  margin-bottom: var(--section-main-padding);
}

.contact .container {
  display: flex;
  flex-direction: column;
}

.contact .contact-header {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: #262626;
  margin-bottom: 60px;
  font-family: "Inter", sans-serif;
}

.contact form .text-email input {
  border: none;
  background-color: white;
  width: 100%;
  border-bottom: solid 1px grey;
  padding: 5px;
  margin-bottom: 15px;
  text-indent: 5px;
  font-family: "Inter", sans-serif;
  outline: none;
}

input::placeholder {
  color: rgb(30, 29, 29);
  font-weight: bold;
}

textarea::placeholder {
  color: rgb(30, 29, 29);
  font-weight: bold;
}

.contact form .tx-em-div .text-email:last-child input {
  display: none;
}

.contact form textarea {
  width: 100%;
  height: 114px;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  border: none;
  background-color: #fbf8f7;
}

.contact form textarea::placeholder {
  color: black;
  font-weight: 500;
  font-size: 15px;
  text-indent: 10px;
  line-height: 30px;
  font-family: "Inter", sans-serif;
}

.contact form .submit {
  display: flex;
  justify-content: center;
}

.contact form .submit input {
  padding: 13px;
  background-color: var(--primary-template-color);
  border: solid 1px white;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 17px;
  letter-spacing: 0.5px;
  width: 42%;
  display: block;
}

.contact form .submit input:hover {
  background-color: #fff5e1;
  border: solid 1px var(--primary-template-color);
  color: var(--primary-template-color);
}

.contact form .submit input:active {
  background-color: #e05304;
  border: solid 1px white;
  color: white;
}

.form-error {
  padding: 10px 0;
  color: red;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}

@media (min-width: 768px) {
  .contact .container {
    display: flex;
    flex-direction: row;
  }

  .contact .contact-header {
    font-size: 32px;
    font-weight: bold;
    color: #172b4d;
    margin-bottom: 60px;
    text-align: left;
    width: 40%;
    margin-right: 5%;
  }

  .contact form {
    width: 60%;
  }

  .contact form .tx-em-div {
    display: flex;
    justify-content: space-between;
  }

  .contact form .tx-em-div .text-email {
    flex-basis: 47%;
  }

  .contact form .tx-em-div .text-email:last-child input {
    display: block;
  }

  .contact form .submit {
    display: flex;
    justify-content: start;
  }

  .contact form .submit input {
    width: 28%;
  }
}

/* stylelint-enable no-descending-specificity */

.footer {
  border-top: solid 1px #dfe1e6;
  margin-top: 130px;
}

/* stylelint-disable */

.footer .social-icon {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 25px auto 25px;
  padding: 0;
  width: 43%;
  position: relative;
}

/* stylelint-enable */

.footer .social-icon::after {
  content: "";
  height: 5px;
  border-radius: 10px;
  width: 75%;
  background-color: #0d151e;
  position: absolute;
  bottom: -21px;
  left: 12.5%;
}

@media (min-width: 768px) {
  .footer .social-icon {
    width: 15%;
  }

  .footer .social-icon::after {
    display: none;
  }
}
